@media(max-width:992px) {
 .navbar-nav {
  margin: 0 auto;
 }
}

@media(max-width:576px) {
 .head-description h1 {
  font-size: 26px;
  line-height: 1.5;
 }
}

@media (max-width:320px) {
 .head-contact img {
  display: none;
 }

 .head-description {
  margin-top: 100px;
 }

 .bg-head,
 .bg-head:after {}
}